/* body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f5f6fa;
}

.layout {
  display: flex;
}

.sidebar {
  width: 230px;
  background: #f2f2f2;
  border-right: 1px solid #cbd5e1;
  height: 100vh;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #ff00aa;
  padding: 20px;
  border-bottom: 1px solid #cbd5e1;
}

.sidebar-item {
  padding: 14px 20px;
  cursor: pointer;
  border-bottom: 1px solid #e2e8f0;
}

.sidebar-item.active {
  background: #e2e8f0;
  font-weight: 600;
}

.main-section {
  flex: 1;
}

.header {
  height: 70px;
  border-bottom: 2px solid #3b82f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: white;
}

.header-title {
  font-size: 20px;
}

.profile-icon {
  font-size: 24px;
}

.content-area {
  padding: 30px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #94a3b8;
}

.create-btn {
  background: #3b82f6;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #e5e7eb;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-top: 1px solid #e2e8f0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #cbd5e1;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;
